/2023-11-25_семинар1. Расчет вероятности случайных событий.mp4
/~$машняя работа 2.docx
/Дамир Тлеубаев 1 семинар.docx
/домашняя работа 1
/домашняя работа 1.rar
/домашняя работа 2.docx
/Задачи к семинару 1.pptx.pdf